.images {
	/*display: flex;*/
	padding: 20px;
}

.images__image-wrap {
	position: relative;
	max-width: 500px;
	margin: 0 auto;

	img {
		width: 100%;
	}

	.button {
		opacity: 0;
		-webkit-transition: all 0.5s;
     	-moz-transition: all 0.5s;
     	-o-transition: all 0.5s;
     	transition: all 0.5s;
		position: absolute;
		bottom: 20px;
	    min-width: 75px;
	    padding: 5px 10px;
	    border: 1px solid #bbb;
	    text-align: center;
	    color: #000;
	    font-weight: 600;
	    font-family: monospace;
	    cursor: pointer;
		
		&.edit {
			right: 110px;
		}
		&.remove {
			right: 20px
		}
	}

	&:hover {
		.button {
			opacity: 1;
		}
	}
}

.create-btn {
    width: 80px;
    height: 80px;
    font-size: 60px;
    font-weight: bold;
    line-height: 0px;
    color: #fff;
    background-color: #5c5;
    border: 2px solid #245024;
    border-radius: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.image-adding {
	position: fixed;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	background: #fff;
	border: 1px solid #bbb;
	z-index: 10;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

